<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/urls">TiniestLittleApp</a>
    
    <style>
      header { 
        background-color: #0275d8
     }
     
      * {
        color: black;
      }
    </style>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    
<!-- //talk to mentor about why I was getting an error -->
    <% if (!user){ %>
      <div>
        <a class="btn btn-dark" href="/register">Register</a>
        <a class="btn btn-dark" href="/login">Login</a>
      </div>
    
    <% }else{ %>
    <form class="form-inline my-1" action="/logout" method="POST">
      <div>
        Logged in as: <%= user.email %>
        <button type="submit" class="btn btn-dark ml-3">Logout</button>
      </div>
    </form>
    <% } %>
  </nav>
</header>